@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Orbitron:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url('https://fonts.googleapis.com/css?family=Poppins');

a {
  text-decoration: none;
}
* {
  transition: 0.4s ease;
}
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 400;
}
.rela-block {
  display: block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
.floated {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.floated.left {
  float: left;
}
.floated.right {
  float: right;
}
.abs-cent-text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.orbitron {
  display: inline-block;
  position: relative;
  font-family: "Orbitron";
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 32px;
  margin-bottom: 60px;
}
.orbitron::before,
.orbitron::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.orbitron::before {
  left: -65%;
}
.orbitron::after {
  right: -63%;
}
.orbitron.black-orb::before,
.orbitron.black-orb::after {
  background-color: #000;
}
.nav-barss {
  position: fixed;
  z-index: 100;
  height: 110px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 6%;
}
.nav-bars.scrolled {
  height: 80px;
  background-color: rgba(0,0,0,0.7);
}
.nav-logod {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0px;
  color: #fff;
  transition: 0.4s ease;
  cursor: pointer;
}
.nav-links-containered {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.nav-link {
  color: #999;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  padding: 0 12px;
  transition: 0.4s ease;
}
.nav-link.active,
.nav-link:hover {
  color: #fff;
}
.top-section {
  height: 100vh;
  background: url("main.jpg") no-repeat center;
  background-size: cover;
}
.grad-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(transparent, rgba(0,0,0,0.9));
}
.top-text {
  color: #fff;
  top: 58%;
  line-height: 28px;
}
.top-small-text {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 400;
}
.big-text {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 20px;
  margin-bottom: 60px;
}
.half-big-text {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 12px;
  margin-bottom: 45px;
}
.half-big-text.has-border {
  display: inline-block;
  position: relative;
  margin: 0 auto 50px;
  padding: 15px 45px;
  border: 10px solid;
}
.under-top-section {
  color: #fff;
  background-color: #1d1d1d;
  text-align: left;
  padding: 0 6%;
}
.under-top-big-text {
  margin-top: 80px;
}
.under-top-small-text {
  width: 84%;
  max-width: 580px;
  margin-bottom: 50px;
}
.lines-thing {
  display: inline-block;
  position: relative;
  margin-bottom: 45px;
  height: 2px;
  width: 80px;
  background-color: #fff;
}
.lines-thing::before,
.lines-thing::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: #fff;
}
.lines-thing::before {
  top: -12px;
}
.lines-thing::after {
  bottom: -12px;
}
.lines-thing.black {
  background-color: #000;
}
.lines-thing.black::before,
.lines-thing.black::after {
  background-color: #000;
}
.welcome-section {
  height: 520px;
  background: url("http://www.exlservice.com/wp-content/uploads/2015/09/FA-Business-Services-Hero-2.jpg") no-repeat left top;
  background-size: 1100px 660px;
}
.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #fff 48%, transparent);
}
.welcome-section .orbitron {
  font-size: 16px;
  margin-bottom: 30px;
}
.welcome-text {
  right: 0;
  width: 45%;
  max-width: 900px;
  transform: translateY(-50%);
  text-align: center;
}
.welcome-text .big-text {
  margin-bottom: 30px;
}
.welcome-text p {
  max-width: 480px;
  margin: 0 auto 40px;
}
.has-lines {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 13px 45px;
  border-left: 2px solid;
  border-right: 2px solid;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 10px;
}
.has-lines::before,
.has-lines::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 45px;
  right: 45px;
  transition: 0.2s ease;
}
.has-lines:before {
  top: 0;
}
.has-lines::after {
  bottom: 0;
}
.has-lines.white:hover::before,
.has-lines.white:hover::after {
  background-color: #fff;
}
.has-lines.black:hover::before,
.has-lines.black:hover::after {
  background-color: #000;
}
.has-lines:hover::before {
  top: 8px;
}
.has-lines:hover::after {
  bottom: 10px;
}
.about-us-section {
  padding: 250px 0 80px;
}
.about-us-section> p {
  display: block;
  position: relative;
  width: 65%;
  margin: 30px auto 120px;
}
.about-us-section .orbitron {
  margin-bottom: 100px;
}
.about-us-quad-container,
.about-us-bottom-container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto 100px;
}
.quad-half {
  width: 50%;
  text-align: left;
  padding: 30px 20px 10px;
}
.quad-half p {
  width: 90%;
}
.small-header {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 8px;
  margin-bottom: 20px;
}
.bottom-left-side {
  text-align: left;
  width: 65%;
}
.bottom-left-side .small-header,
.bottom-left-side .lines-thing {
  margin-bottom: 45px;
}
.bottom-left-side p {
  width: 90%;
}
.bottom-right-side {
  width: 35%;
  text-align: left;
  line-height: 30px;
}
.bottom-right-side p {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}


 /* new  */
 
 



 
 a {
   color: #92badd;
   display:inline-block;
   text-decoration: none;
   font-weight: 400;
 }
 
 h2 {
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   display:inline-block;
   margin: 40px 8px 10px 8px; 
   color: #cccccc;
 }
 
 
 
 /* STRUCTURE */
 
 .wrapper {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
 }
 
 #formContent {
    border-radius: 10px 10px 10px 10px;
   background: #fff;
   padding: 30px;
   width: 90%;
   max-width: 450px;
   position: relative;
   padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   text-align: center;
 }
 
 #formFooter {
   background-color: #f6f6f6;
   border-top: 1px solid #dce8f1;
   padding: 25px;
   text-align: center;
    border-radius: 0 0 10px 10px;
 }
 
 
 
 /* TABS */
 
 h2.inactive {
   color: #cccccc;
 }
 
 h2.active {
   color: #0d0d0d;
   border-bottom: 2px solid #5fbae9;
 }
 
 
 
 /* FORM TYPOGRAPHY*/
 
 input[type=button], input[type=submit], input[type=reset]  {
   background-color: #56baed;
   border: none;
   color: white;
   padding: 15px 80px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
   font-size: 13px;
    
   box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
   margin: 5px 20px 40px 20px;
    
   transition: all 0.3s ease-in-out;
 }
 
 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
   background-color: #39ace7;
 }
 
 input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
   transform: scale(0.95);
 }
 
 input[type=(email,passward,text)] {
   background-color: #f6f6f6;
   border: none;
   color: #0d0d0d;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 5px;
   width: 85%;
   border: 2px solid #f6f6f6;
  
   transition: all 0.5s ease-in-out;
   
   border-radius: 5px 5px 5px 5px;
 }
 
 input[type=(email,passward,text)]:focus {
   background-color: #fff;
   border-bottom: 2px solid #5fbae9;
 }
 
 input[type=(email,passward,text)]:placeholder {
   color: #cccccc;
 }
 
 
 
 /* ANIMATIONS */
 
 /* Simple CSS3 Fade-in-down Animation */
 .fadeInDown {
   
   animation-name: fadeInDown;
   
   animation-duration: 1s;
  
   animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInDown {
   0% {
     opacity: 0;
   
     transform: translate3d(0, -100%, 0);
   }
   100% {
     opacity: 1;
     transform: none;
   }
 }
 
 @keyframes fadeInDown {
   0% {
     opacity: 0;
      transform: translate3d(0, -100%, 0);
   }
   100% {
     opacity: 1;
      transform: none;
   }
 }
 
 
 
 @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
 .fadeIn {
   opacity:0;
     animation:fadeIn ease-in 1;
 
   
   animation-fill-mode:forwards;
 
   
   animation-duration:1s;
 }
 
 .fadeIn.first {
   animation-delay: 0.4s;
 }
 
 .fadeIn.second {
 
   animation-delay: 0.6s;
 }
 
 .fadeIn.third {
   
   animation-delay: 0.8s;
 }
 
 .fadeIn.fourth {
 
   animation-delay: 1s;
 }
 
 /* Simple CSS3 Fade-in Animation */
 .underlineHover:after {
   display: block;
   left: 0;
   bottom: -10px;
   width: 0;
   height: 2px;
   background-color: #56baed;
   content: "";
   transition: width 0.2s;
 }
 
 .underlineHover:hover {
   color: #0d0d0d;
 }
 
 .underlineHover:hover:after{
   width: 100%;
 }
 
 
 

 #icon {
   width:60%;
 }
 
 * {
   box-sizing: border-box;
 }



  
@media screen and (max-width: 1100px) {
  .big-text {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 14px;
  }
  .nav-logod{
    left: 4%;
  }
  .nav-links-containered {
    right: 4%;
  }
  .nav-link {
    padding: 0 6px;
  }
  .welcome-section {
    background-size: 800px 580px;
  }
  .plan {
    margin: 0px 8px 20px;
  }
}
@media screen and (max-width: 900px) {
  .nav-bar.scrolled .nav-links-container {
    top: 30px;
  }
  .nav-logo {
    left: 50px;
  }
  .nav-links-container {
    width: 140px;
    text-align: center;
    top: 40px;
    transform: none;
    right: 50px;
  }
  .nav-links-container:hover .nav-link {
    transition: 0.4s ease;
    height: 100%;
    opacity: 1;
  }
  .nav-link {
    display: block;
    height: 0;
    opacity: 0;
    transition: 0s ease;
  }
  .nav-link.active {
    height: 100%;
    opacity: 1;
  }
  .welcome-text {
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  .about-us-section {
    padding: 160px 0 40px;
  }
  .quarter-div {
    height: 50%;
    width: 50%;
  }
  .clients-section {
    height: 480px;
  }
  .client-part {
    height: 50%;
    width: 50%;
  }
  .client-part:nth-child(1) {
    width: 50%;
  }
  .service-row-half {
    height: 50%;
    width: 100%;
  }
  .testimonials-section {
    height: 600px;
  }
  .test-left {
    height: 30%;
    width: 100%;
  }
  .test-right {
    height: 70%;
    width: 100%;
  }
  .test-right .space {
    letter-spacing: 2px;
    font-size: 14px;
  }
  .contact-half {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .quad-half,
  .bottom-left-side,
  .bottom-right-side {
    padding: 0 0 30px;
    width: 100%;
  }
   
}
@media screen and (max-width: 500px) {
  .big-text {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 6px;
    margin-bottom: 22px;
  }
  .orbitron {
    margin-bottom: 22px;
  }
  .about-us-section {
    padding: 80px 0 0;
  }
  .portfolio-bottom {
    height: 450px;
  }
  .quarter-div {
    height: 25%;
    width: 100%;
  }
  .quarter-div .big-text {
    margin-bottom: 10px;
  }
  
}
